.base
  position: relative !important

.opacity, .blur, .hide
  &, > *
    user-select: none !important
    pointer-events: none !important
  > [data-tcb_action_activator]
    pointer-events: all !important

.opacity
  > *:not([data-tcb_action_activator])
    opacity: .3 !important

  &::before
    $size: 100px
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    height: $size
    width: $size
    max-height: 50%
    max-width: 50%
    background: var(--taiwan-company-blocker-icon) center / contain no-repeat
    opacity: .7
    z-index: 1

.blur
  > *:not([data-tcb_action_activator])
    filter: blur(4px) !important

.hide
  display: none !important
