$color: #FF204E

.overlay
  position: fixed
  left: -1000rem
  top: -1000rem
  z-index: 2147483647
  margin: 0
  pointer-events: none
  background: rgba($color, .2)
  box-sizing: border-box

  $length: 1000rem

  &::after, &::before
    content: ''
    position: absolute
    border: 1px dashed rgba($color, 1)
  &::after
    left: 0
    right: 0
    top: -$length
    bottom: -$length
  &::before
    left: -$length
    right: -$length
    top: 0
    bottom: 0
